<section id="contact" class="py-20 bg-[var(--color-highlight)] text-[var(--color-muted)]">
  <div class="px-8 md:px-12 max-w-5xl mx-auto text-center">
    <!-- Título -->
    <h2 class="text-4xl font-bold text-white mb-6">Contact Us</h2>
    
    <!-- Descripción -->
    <p class="text-lg text-white leading-relaxed mb-12 mt-12">
      We are always here to help you. Our team is available 24/7 to address your inquiries and collaborate on your projects. 
      You can connect with us through the links below to discuss ideas, start a new project, or simply learn more about what we do.
    </p>
    
    <!-- Iconos de contacto -->
    <div class="flex justify-center gap-12">
      <!-- Upwork -->
      <a
        href="https://www.upwork.com/agencies/1864021705604676426/"
        class="transition-transform transform hover:scale-110"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/images/upwork-icon.svg" alt="Upwork" class="w-16 h-16">
      </a>
      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/company/nova-devs-eu/"
        class="transition-transform transform hover:scale-110"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/images/logolinkedin.png" alt="LinkedIn" class="w-16 h-16">
      </a>
    </div>
    
    <!-- Nota adicional -->
    <p class="text-sm text-white mt-8">
      Feel free to explore our profiles for more details and updates about our projects and services.
    </p>
  </div>
</section>
