/* -------------------------------- */
/* IMPORTACIONES Y PLUGINS          */
/* -------------------------------- */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";

/* -------------------------------- */
/* VARIABLES Y TEMAS                */
/* -------------------------------- */
@theme {
  /* Colores personalizados */
  --color-primary: rgb(0, 204, 255); /* Azul principal */
  --color-background: rgb(18, 23, 33); /* Fondo oscuro principal */
  --color-secondary-background: rgb(255, 255, 255); /* Blanco para contraste */
  --color-accent: rgb(53, 89, 149); /* Azul profundo como acento */
  --color-muted: rgb(142, 152, 162); /* Gris para texto secundario */
  --color-highlight: rgb(28, 38, 53); /* Tono intermedio para bordes/separadores */
}

:root {
  font-family: Inter, sans-serif;
  background-color: var(--color-background);
  color: var(--color-muted);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif; /* Fuente variable si está disponible */
  }
}
